html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container{
    width: 100vw;
    height: calc(100vh - 60px);
    position: relative;

    background-image: url("images/stars.gif");
    background-position: left top;
    background-repeat: repeat;
    margin: 0;
    padding-top: 60px;
}

.background-container h1{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.contact-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 10px;
}

.about-info{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-110%, -50%);
    color: white;
    text-align: center;
    font-size: 1.4em;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}

.profile-photo{
    display: block;
    margin: 20px auto 0 auto;
    transform: translate(100%, -5%);
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.topnav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: rgba(42,42,42,0.9);
    padding: 12px 20px;
    box-sizing: border-box;
}

.topnav a{
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
}