html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container{
    width: 100vw;
    height: 100vh;
    position: relative;

    background-image: url("images/stars.gif");
    background-position: left top;
    background-repeat: repeat;
    margin: 0;
}

.background-container h1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.topnav{
    overflow: hidden;
    background-color: #2a2a2a;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.topnav a{
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
}